.container {
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.headerLeft {
    display: flex;
    align-items: center;

    .forwardIcon {
        margin-right: 10px;
    }

    .bookIcon {
        padding-right: 70px;
    }
  
}

.headerRight {
    display: flex;
    align-items: center;
    
}