.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    height: 35px;
    border-radius: 4px;
    padding: 0px 6px;
}

.leftSideOfHeader {
    display: flex;

    b {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        background-color: #99d19985;
        width: 22px;
        border-radius: 2px;
        color: green;
        cursor: pointer;
    }

    .clock {
        cursor: pointer;
        height: 12px;
        margin: 0px 10px;
        margin-top: 7px;
        padding: 0 10px;
        color: #595252bb;
        border-left: 1.5px solid #d3d3d3;
        border-right: 1.5px solid #d3d3d3;
    }
    img {
        background-color: red;
        margin-top: 2px;
        cursor: pointer;
    }
    span {
        border-left: 1.5px solid #d3d3d3;
        padding-left: 10px;
        margin-left: 10px;
        height: 12px;
        margin-top: 7px;
        color: #595252bb;
        cursor: pointer;
    }
}

.rightSideOfHeader {
    display: flex;
    width: 60px;
    justify-content: space-between;
    cursor: pointer;
}